*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}


body 
{
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #3fbbc0;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_content {
    margin: 10px;
    padding-left: 15px;
    color: white;
    font-size: 15px;
    padding-right: 15px;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    height: 80px;
    margin-top: 35px;
    margin-right: 45px;
    background-color: white;
    position: fixed;
    width: 100%;
    padding-right: 10px;
    z-index: 1000; 
}

.logo img
{
   
    width: 171px;
    margin-left: 45px;


}
.menus
{
    display: inline-block;
    margin-left: 287px;

}

.menu{
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;

  
}

.menu a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    
}

.menu a.active , a:hover
{
  color: #3fbbc0;
}

.button{
    position: relative;
    background-color: #3fbbc0;
    top: -4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button_content
{
    text-decoration: none;
    color: white;
}


.button:hover
{
   background-color: #78f3f7;
}

.slider
{
    background-image: url(https://bootstrapmade.com/demo/templates/Medicio/assets/img/slide/slide-3.jpg);
    height: 800px;
    background-position: top;
}

.slider_content
{
    position: relative;
    background: white;
    width: 92%;
    top: 289px;
    left: 63px;
    border-top: 4px solid #3fbbc0;
}

.slider_content h1,p
{
    align-items: center;
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;


}

.slider_content .button
{
    margin-bottom: 10px;
    margin-left: 531px;
    
}

.main_boxes
{
    background-color: #f6f0f0;
    height: 292px;
    display: flex;
}

.boxes{
    margin-top: 10px;
    height: 200px;
    width: 271px;
    background-color: rgb(255, 255, 255);
    margin-left: 64px;
    margin-right: 18px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px black;
}


.boxes::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom ;
    background: #3fbbc0;
    z-index: -1;
    transition: transform 0.3s;
  
 
}

.boxes:hover::after {
    transform: scaleY(1);
}


.boxes:hover {
    color: white;
}

.boxes:hover .box_icons {
    color: white;
}


.box_content 
{
    text-align: center;
    font-size: 18px;
    word-spacing: 7px;

}






.boxes h4 
{
    padding-left: 10px;

}

.box_icons
{ 
    color: #3fbbc0;
    font-size: 42px;
    padding: 10px;

}


/* emergency section starts here  */

.emergency
{
    background: #3fbbc0;
    height: 250px;

}

.emergency h2 
{

    text-align: center;
    margin-top: 75px;
    font-size: 28px;
    color: white;
}
.emergency p{
    color: white;
}


.emergency_btn
{
    position: relative;
    left: 600px;
    background: #3fbbc0;
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 25px;
}

.emergency_btn:hover{
    background: white;
    backface-visibility: visible;
    color: #3fbbc0 ;
}

/* About us section statrts here  */

.aboutus
{
    height: 800px;
    margin-left: 50px;
    margin-right: 50px;
}
.horizontal_line
{
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #3fbbc0;
    bottom: 131px;
    left: calc(50% - 24px);
}

.aboutus_heading
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: bold;


}

.aboutus_content
{
    margin-bottom: 15px;
    line-height: 30px;
    margin-left: 10px;

}

.aboutus_division
{
    display: flex;
    width: 100%;

}
.aboutus_division1
{
    width: 2500px;
    margin-right: 20px;
   
}

.aboutus_division2
{
   width: 50%;
}
.aboutus_img
{
    max-width: 100%;
    height: auto;
    margin-left: 13px;
}

.list
{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;


}

.list_icon
{
  color: #3fbbc0;
  padding-right:5px ;
  
}

.purecounter{
    font-size: 48px;
  
    margin-left: 10px;
    position: absolute;
    margin-top: 3px;
    font-weight: 600;
}


.testimonisl
{
    height: 700px;
   
    background-color: #f6f9fd;
    
}

.testimonial_slider
{
    margin-left: 79px;
    margin-top: 36px;
    width: 90%;
}

.top_testimonial{

   color: #aaaaaa;

}

.top_testimonial::after{
    content: "";
    height: 1px;
    width: 120px;
    display: inline-block;
    background-color: #f38b74;
    margin: 4px 10px;
}

.testimonisl h1{
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 79px;
}

.box{
    background-color: white;
    height: 198px;
    width: 47%;
   box-shadow:  1px 1px 20px 0px rgba(0, 0, 0, 0.1)

    
}

.container {
    display: flex;
    justify-content: space-between;
    
}

.box_contianer
{
    margin-top: 10px;
    display: flex;

}
.box_contianer1{
    margin-right: 5px;
}

.box_contianer2{
    margin-left: 58px;
}

.box-img1{
    position: absolute;
    width: 90px;
    border: 5px solid white;
    left: 42px;
    border-radius: 10px;

}


.box-img2{
    position: absolute;
    width: 90px;
    border: 5px solid white;
    left: 736px;
    border-radius: 10px;


}

.quote-container {
    display: inline;
  
}
   .testimonisl p {
    margin-left: 10px;
   }
.fa-quote-left,
.fa-quote-right {
    font-size: 24px;
    color: #555;
    display: inline-block;
    
    position: relative;
  
}


.space 
{
    height: 600px;
    width: 100px;
    background-color: #0c164f;
}

